body {
  font-family: "Roboto", "Merriweather", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #d90429;
  color: #ecebf0;
}

.navbar {
  background-color: #2b2d42;
  padding: 1rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

h1 {
  text-align: center;
  margin: 2rem 0;
}

img.portrait {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

p {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 2rem;
}

button {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  background-color: #03071e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #dcee18;
  color: #03071e;
}
